.nav {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232323;
    height: 50px;
    color: white;
}

.icon {
    width: 100%;
    height: 100%;
}

.nav img {
    height: 100%;
    padding-left: 20px;
}


.search-container {
    display: flex;
    border-radius: 20px;
    margin-right: 10px;
    padding: 4px;
}

.search-input {
    opacity: 0;
    padding: 5px;
    margin-right: 100px;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s;
}

.search-input:focus {
    outline: none;
    color: white;
}

.search-icon {
    color: #655586;
    margin-right: 10px;
}

.search-container:hover .search-input {
    opacity: 1;
}

.search-container:hover {
    border: 1px solid #B6A3C2;
    transition: opacity 0.1s;
}

.tooltip {
    position: relative;
    align-items: center;
    margin-top: 5px;
    margin-right: 0px;
}

.add-icon {
    font-size: 24px;
    color: #655586;
}

.tooltiptext {
    visibility: hidden;
    width: 70px;
    background-color: #5B5E60;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: -20px;
    margin-left: -65px;
    opacity: 0;
    transition: opacity 0.3s;
    border: 1px solid rgb(44, 42, 42);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.avatar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    width: 50px;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.avatar img {
    width: 100%;
    height: 35px;
}

.avatar2 {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    margin-left: 0px;
    width: 50px;
    height: 50px;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.avatar2 img {
    width: 100%;
    height: 100%;
}

.mytooltip {
    display: flex;
    visibility: hidden;
    width: 70px;
    background-color: #232323;
    text-align: center;
    padding: 5px;
    position: absolute;
    margin-left: -200px;
    width: 250px;
    height: 70px;
    padding-top: 20px;
    cursor: pointer;
    border: 1px solid rgb(44, 42, 42);
}

.logout {
    display: flex;
    margin-left: 30px;
}

.email-logout {
    margin-left: 10px;
}

.logout-button {
    margin-left: 5px;
    font-size: 20px;
}

.quote-banner {
    padding-top: 10px;
    background: linear-gradient(to top, #332d57, #604482);
    color: white;
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.close-icon {
    cursor: pointer;
    margin-bottom: 6px;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.quote-banner:hover .close-icon {
    opacity: 1;
}

.info-icon {
    cursor: pointer;
    color: #8D74AC;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    margin-top: 20px;
}

.todo-list {
    padding: 10px;
}

.ToDo {
    min-width: 370px;
    border-radius: 5px;
    margin-right: 15px;
    
}

.Doing {
    min-width: 370px;
    border-radius: 5px;
    margin-right: 15px;
}

.Done {
    min-width: 370px;
    border-radius: 5px;
    margin-right: 15px;
}
/* .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  } */
  
.items {
    display: flex;
    height: 80vh;
    overflow-y: auto;
}
.items::-webkit-scrollbar {
    width: 0.5em; 
  }
  
.status-title {
    margin-right: 15px;
    min-width: 370px;
    display: flex;
    align-items: center;
    background-color: #212529;
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 10px;
    color: #fff;
}

.todo-icon {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #8E7AD2;
}

.doing-icon {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #FE913E;
}

.done-icon {
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #39AC95;
}

.list-item {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 350px;
    background-color: #212529;
    cursor: grab;
}

.title {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    min-height: 35px;
    margin-bottom: 5px;
}

.data {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    margin: 0;
    font-weight: 100;
}


.edit {
    display: flex;
    margin-bottom: 20px;
    margin: 0;
    font-weight: 100;
}


.display {
    font-weight: 100;
    margin-bottom: 20px;
    min-width: 100px;
}


.edit-icon {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
}
.save-icon{
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    margin-left: 100px;
}

.list-item:hover .edit-icon {
    opacity: 1;
}
.list-item:hover .save-icon {
    opacity: 1;
}

.edit-input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: border-bottom-color 0.3s;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    align-items: center;
}
.estimate-number{
    width: 90px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: transparent;
    transition: border-bottom-color 0.3s;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    align-items: center;
    margin-right: 10px;
}
.edit-input:focus {
    outline: none;
    color: white;
}

.high-importance {
    background-color: #DC3545;
    color: white;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
    max-width: max-content;
    max-height: 20px;
}

.medium-importance {
    background-color: #FEA664;
    color: white;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
    max-width: max-content;
    max-height: 20px;
}

.low-importance {
    background-color: #7CC8B9;
    color: white;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
    max-width: max-content;
    max-height: 20px;
}

.edit-importance {
    width: 500px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 100px;
    border: none;
    color: black;
    border-bottom: 1px solid white;
}

